# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Пакеты
*.egg-info/
dist/
build/
eggs/
*.egg

# Среды
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

database/database.db

# Конфигурационные файлы IDE
.idea/

# Логи
*.log

# Файлы базы данных
*.sqlite3

# Файлы окружения
.env

# Системные файлы
.DS_Store
Thumbs.db

# Другие временные файлы
*.tmp
